$fonts_dir: '../fonts/';

@font-face {
    font-family: 'GraniteHeadline-Regular';
    src:
        url($fonts_dir + 'GraniteHeadline-Regular.woff') format('woff'),
        url($fonts_dir + 'GraniteHeadline-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NeueHaasUnicaPro-Regular';
    src:
        url($fonts_dir + 'NeueHaasUnicaPro-Regular.woff') format('woff'),
        url($fonts_dir + 'NeueHaasUnicaPro-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}