$large-font:        48px;
$medium-font:       25px;
$small-font:        20px;

$large-spacing:     80px;
$medium-spacing:    40px;
$small-spacing:     20px;

$max-paragraph:     600px;

$tablet-break:      20px;
$medium-break:      768px;
$small-break:       600px;
$smallest-break:    320px;

$black:         #000000;
$white:         #FFFFFF;
$light-blue:    #66CCFF;
$green:         #30C657;
$purple:        #743BBD;
$grey:          #DCDDDE;
// dedbda
// d9d9d9