$large-font:    48px;
$medium-font:   25px;
$small-font:    20px;

$large-margin:  20px;
$medium-margin: 20px;
$small-margin:  20px;

$black:         #000000;
$white:         #FFFFFF;
$light-blue:    #66CCFF;
$green:         #30C657;
$purple:        #743BBD;
$grey:          #DCDDDE;