.module {

    &__article {
        width: 100%;
        padding: $large-spacing 0;
        background-color: $white;

        @media screen and (max-width: $medium-break) {
            padding: $medium-spacing 0;
        }

        @media screen and (max-width: $small-break) {
            width: 90%;
            margin: 0 auto;
        }


        &--centered {
            text-align: center;
        }
    }

    &__text-wrapper {
        margin: 0 auto;
        max-width: $max-paragraph;
        @include small-text($black);

        &--left {
            text-align: left;
        }

        @media screen and (max-width: $smallest-break) {
            font-size: $tiny-font;
        }
    }



    &__article-title {
        @include title-text($purple);

        @media screen and (max-width: $small-break) {
            font-size: $medium-font;
            line-height: 2.8;
        }

        @media screen and (max-width: $smallest-break) {
            font-size: $small-font;
            line-height: 3.6;
        }
    }

    &__article-title--padding {
        padding-bottom: $medium-spacing;

        @media screen and (max-width: $medium-break) {
            padding-bottom: $small-spacing;
        }

        @media screen and (max-width: $smallest-break) {
            padding-bottom: $tiny-spacing;
        }
    }
}



// .module_

// .module .module__article--