.site-header {
    width: 100%;
    height: $large-spacing;
    overflow: hidden;
    background-color: $purple;
    position: relative;

    &__nav {
        width: 80%;
        height: 100%;
        margin: 0 auto;
        position: relative;
        display: flex;
        justify-content: center;
        z-index: 1;

        @media screen and (max-width: $small-break) {
            display: none;
        }
    }

    &__sub-nav {
        display: none;
    }

    &__link {
        position: relative;
        display: block;
        height: 26px;
        top: 50%;
        transform: translateY(-50%);
        text-transform: uppercase;
        @include medium-text($white);

        &:not(:last-of-type) {
            margin-right: 2%;
        }
    }

    &__link--active {
        // @include italic-text($white, $medium-font);
    }
}