.module {

    &__title {
        height: $large-spacing;
        background-color: $purple;
        text-align: center;
        @include title-text($white);

        &--single {
            width: 100%;
        }
    }
}