.module {

    &__title {
        height: $large-spacing;
        background-color: $purple;
        text-align: center;
        @include title-text($white);

        &--single {
            width: 100%;

            @media screen and (max-width: $small-break) {
                font-size: $medium-font;
                line-height: 2.8;
            }

            @media screen and (max-width: $smallest-break) {
                font-size: $small-font;
                line-height: 3.6;
            }
        }

        &--alt {
            background-color: $white;
            @include title-text($purple);
        }
    }
}