.page-template-holding {

    .site-header {
        height: 10px;

        &__link {
                display: none;
        }
    }

    .hamburger {
        @media screen and (max-width: $small-break) {
            display: none;
        }
    }

    .site-main {
        padding-top: 10px;
    }

    .subheader {
        height: calc(100vh - 10px);
    }
}