.page-template-holding {

    // RESIZE NAV
    .site-header {
        height: 10px;

        &__nav {

            a {
                display: none;
            }
        }
    }

    .subheader {
        margin-top: 10px;
        height: calc(100vh - 10px);
    }


}