body:not(.page-template-home) {
    .site-footer {
        padding: $medium-spacing 0;

        &__title {
            display: none;
        }

        &__contact {
            display: none;
        }
    }
}