.page-template-archive-page {
  font-family: sans-serif;

  .right-item {
    display: none !important;
  }

  .grid:not(.positioned) {
    min-height: calc(100vh - 60px);
    transition: min-height 0.5s ease-out;

    .grid-item {
      top: 0px !important;
    }
  }

  .resize-grid {
    position: absolute;
    right: 0;
    top: 0;
  }
  

  * { box-sizing: border-box; }

  /* ---- grid ---- */

  .grid {
    width: calc(100% - 30px);
    margin: 0 auto;
    // max-width: 1200px;
  }

  /* clearfix */
  .grid:after {
    content: '';
    display: block;
    clear: both;
  }

  /* ---- grid-item ---- */

  .grid-sizer {
    width: calc(33.333% - 20px);
  }

  .gutter-sizer {
    width: 30px;
  }

  .grid-item {
    width: calc(33.333% - 20px);
    float: left;
    margin-bottom: 30px;

    .attachment-post-thumbnail {
      display: block;
      width: 100%;
      height: auto;
      margin: 0 auto;
    }

    .project {
      display: none;
      transition: all 2s linear;
      transition-delay: 2s;
    }
  }

  .grid-item--width2 { width: 320px; }
  .grid-item--width3 { width: 480px; }
  .grid-item--width4 { width: 640px; }

  .grid-item--height2 { height: 200px; }
  .grid-item--height3 { height: 260px; }
  .grid-item--height4 { height: 360px; }


  .grid-item--full {
    width: 100%;
    height: calc(100vh - 45px);

    .attachment-post-thumbnail {
      display: none;
    }

    .project {
      display: block;
    }
  }

  .grid-item:hover {
    // background: #A2C;
    // border-color: white;
    cursor: pointer;
  }
}





