// Reset Stylesheet
@import 'base/reset';

// BxSlider Stylesheet
@import 'base/bxslider';

//Variables - Fonts - Mixins
@import 'base/variables';
@import 'base/fonts';
@import 'base/type';
@import 'base/mixins';

// Modules Stylesheets
@import 'modules/header';
@import 'modules/subheader';
@import 'modules/footer';
@import 'modules/credits';
@import 'modules/title';
@import 'modules/link';
@import 'modules/article';
@import 'modules/repeater';
@import 'modules/video';

// Templates Stylesheets
@import 'templates/holding';

body {
    background-color: $purple;
    background-color: $white;
    max-width: 1500px;
    margin: 0 auto;

    a {
        text-decoration: none;
        cursor: pointer;

        &.-state-hover {
            text-decoration: underline !important;
        }
    }
}

.module {
    width: 100%;
    background-color: $white;
}